/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .layout-container {
    max-width: 95vw;
    margin-inline: auto;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .layout-container {
    max-width: 90vw;
    margin-inline: auto;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .layout-container {
    max-width: 75vw;
    margin-inline: auto;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
}

/* High pixel ratio devices ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
