.header-container {
  max-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 75%;
  margin-inline: auto;
  height: 57px;
  margin-bottom: 2em;
  margin-top: 54px;
  position: sticky;
}

.header-container > .title {
  font-size: 28px;
  font-weight: 800;
}
.back_icon {
  height: 2rem;
  width: 3rem;
}
.icon_header {
  font-weight: bold;
  height: 1.5rem;
  width: 1.5rem;
  stroke: var(--white);
  margin-right: 2px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .header-container {
    max-width: 95vw;
    margin-bottom: 0.2em;
    margin-top: 0;
  }

  .new-btn {
    position: fixed;
    bottom: 2%;
    right: 8%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header-container {
    max-width: 90vw !important;
    /* margin-bottom: 0.5em; */
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .header-container {
    max-width: 75vw;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  .header-container {
    max-width: 75vw;
  }
}
